body {
  background-image: linear-gradient(#9BCE83, #FEFDF4);
  transition: 0.3s all;
  font-family: 'Amiri', serif;
  font-size: 24px;
  text-align:center;
  color: #282828;
  cursor:url('./assets/leaf-cursor.gif'), none;
}

p {

}

div {
  padding: 20px;
}

div.flex-container  {
  display: flex;
}

.flex-container  {
  display: flex;
}

/*title div stuff*/
#top-left {
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  width: 100vw;
}

.title-page {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  position: absolute;
  top: 3rem;
  right: 0px;
  left: 0px;
  align-items: center;
}

.title-page img {
  animation: float 3s infinite;
  height: 75vh;
}

@keyframes float {
  	0% {
  		transform: translatey(0px);
  	}
  	50% {
  		transform: translatey(-10px);
  	}
  	100% {
  		transform: translatey(0px);
  	}
  }

/*By Shel Silverstein*/
#b { stroke-dasharray: 38px; stroke-dashoffset: -38px; animation: hwanimation 0.5s linear 0.4s forwards;}
#y { stroke-dasharray: 40px; stroke-dashoffset: -40px; animation: hwanimation 0.5s linear 0.8s forwards;}

#s_2_ { stroke-dasharray: 39px; stroke-dashoffset: -39px; animation: hwanimation 0.5s linear 1.2s forwards;}
#h { stroke-dasharray: 62px; stroke-dashoffset: -62px; animation: hwanimation 0.5s linear 1.6s forwards;}
#e_2_ { stroke-dasharray: 28px; stroke-dashoffset: -28px; animation: hwanimation 0.5s linear 2.0s forwards;}
#l_1_ { stroke-dasharray: 24px; stroke-dashoffset: -24px; animation: hwanimation 0.5s linear 2.4s forwards;}

#s_1_ { stroke-dasharray: 46px; stroke-dashoffset: -46px; animation: hwanimation 0.5s linear 2.8s forwards;}
#i_3_ { stroke-dasharray: 11px; stroke-dashoffset: -11px; animation: hwanimation 0.5s linear 3.2s forwards;}
#i_2_ { stroke-dasharray: 2px; stroke-dashoffset: -2px; animation: hwanimation 0.5s linear 3.3s forwards;}
#l { stroke-dasharray: 30px; stroke-dashoffset: -30px; animation: hwanimation 0.5s linear 3.7s forwards;}
#v { stroke-dasharray: 33px; stroke-dashoffset: -33px; animation: hwanimation 0.5s linear 4.1s forwards;}
#e_1_ { stroke-dasharray: 29px; stroke-dashoffset: -29px; animation: hwanimation 0.5s linear 4.5s forwards;}
#r { stroke-dasharray: 37px; stroke-dashoffset: -37px; animation: hwanimation 0.5s linear 4.9s forwards;}

#s { stroke-dasharray: 40px; stroke-dashoffset: -40px; animation: hwanimation 0.5s linear 5.4s forwards;}
#t { stroke-dasharray: 41px; stroke-dashoffset: -41px; animation: hwanimation 0.5s linear 5.8s forwards;}
#e { stroke-dasharray: 30px; stroke-dashoffset: -30px; animation: hwanimation 0.5s linear 6.2s forwards;}
#i_1_ { stroke-dasharray: 12px; stroke-dashoffset: -12px; animation: hwanimation 0.5s linear 6.6s forwards;}
#i { stroke-dasharray: 2px; stroke-dashoffset: -2px; animation: hwanimation 0.5s linear 6.7s forwards;}
#n { stroke-dasharray: 38px; stroke-dashoffset: -38px; animation: hwanimation 0.5s linear 7.1s forwards;}

@keyframes hwanimation {
  100% {
    stroke-dashoffset: 0;
  }
}

/*page 1*/
.intro {
  height: auto;
}

.tree {
  font-family: "Caveat", cursive;
}

.boy {
  font-family: 'Nanum Pen Script', cursive;
}

.young-boy {
}

.young-boy-eat {
  height: auto;
}

.young-boy-play {
  height: auto;
}

.young-boy-end {
  height: auto;
}

.young-boy-grows {
  height: auto;
  /*background-color: gray;*/
  position: relative;
  width: 100%; /* for IE 6 */
}

marquee {
  /* position: absolute; */
  font-family:sans-serif;
  font-size: 18px;
  z-index:10;
  /* Adding background color and border for debugging */
  /*background-color: rgba(255,0,0,0.2);*/
  /*border: 1px solid red;*/
  /* animation: fallingLeaves 10s infinite; */
  /* To compensate for parent div having 20px padding */
  /* Try changing "-12px" and see how the leaves come closer together */
  margin: -12px -20px;
  /* Adding padding to make sure leaves don't get cropped off */
  padding: 2rem 0 3rem 0;
}
marquee img {
  animation: fallingLeaves 10s infinite;
}
.box-of-leaves {
  border: 1px solid yellow;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

@keyframes fallingLeaves {
0% {
opacity: 1;
-webkit-transform: translate(0, 0px) rotateZ(0deg);
}
33% {
opacity: 1;
-webkit-transform: translate(10x, 40px) rotateZ(120deg);
}
66% {
opacity: 1;
-webkit-transform: translate(5px, 30px) rotateZ(240deg);
}
100% {
opacity: 1;
-webkit-transform: translate(0, 0px) rotateZ(360deg);
}
}

.flex-container {
  display: flex;
  flex-direction: column;
}

div.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-one {
  flex-grow: 1;
  border: 1px solid red;
}

.flex-two {
  flex-grow: 2;
  border: 1px solid red;
}

.page-16-tree {
  height: auto;
  text-align: right;
}

.page-17-boy {
  height: auto;
  text-align:left;
}

.page-27 {
  height: auto;
  align-content: center;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

.page-27 img {
  height: auto;
  align-content: center;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

@keyframes pulse {
0% {opacity: 0.25;}
50% {opacity: 1.0;}
100% {opacity:0.25;}
}

/*put align left and align right back*/

.page-28 {
  /* background-color: #000000; */
  height: auto;
  align-content: center;
  }
.dialog-left {
    text-align: left;
}

.dialog-right {
    text-align: right;
}

.page-29 {
  height: 200px;
  align-content: center;
  animation: pulse 2s infinite;
  margin-top: 75px;
  }

.page-29b {
  height: 200px;
  align-content: center;
  animation: pulse 2s infinite, float 3s infinite;
  margin-top: 75px;
  }

.half-opacity {
  opacity: 0.5;
}

.tintScreen {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
    z-index: 100;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#ending {
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-end {
  height: auto;
}
